{block content}
<div class="row ">
    <div class="col-12 col-md-4 border border-3 border-primary rounded-5 p-3 mt-3 m-auto bg-light">
    <div class="text-center">
<h1 n:block=title>Registrace</h1>

{control registerForm}
    </div>
    </div>
</div>