<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="{$basePath}/dist/main-configured.css" rel="stylesheet">
  <link href="{$basePath}/css/style.css" rel="stylesheet">
  <script src="{$basePath}/dist/main-configured.js"></script>
<script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<title>{ifset title}{include title|stripHtml} | {/ifset}User Login Example</title>
</head>

<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a n:href="Homepage:default" class="nav-link px-2 text-secondary">Home</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
    {if $user->isLoggedIn()}
          <a n:href="Sign:out"><button type="button" class="btn btn-warning me-2">Logout</button></a>
		      <a n:href="Sign:account"><button type="button" class="btn btn-info me-2">Account</button></a>
		{else}  
		  <a n:href="Sign:in"><button type="button" class="btn btn-warning me-2">Login</button></a>
		{/if}
        </div>
      </div>
    </div>
  </header>
	<div>
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
  
		<div class="container-fluid">{include content}</div>
	</div>
  <br>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
