
@font-face {
  font-family: Lobster;
  src: url("fonts/lobster/Lobster-Regular.ttf")
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.full-width {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
  }

.username {
  clip-path: polygon(15% 0, 85% 0, 75% 100%, 25% 100%);
}
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  color: white;
  background-color: rgb(39, 39, 39);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
.show {display: block;}

input {
  border: 2px solid skyblue;
  border-radius: 10px;
}
.form-short {
  width: 85px;
  height: 40px;
}

input[type="number"] {
  text-align: center;
  font-size: 20px;
  outline: none;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 34px;
  width: 23px;
}

.w-33 {
  width: 33%;
}

.w-66 {
  width: 66%;
}
#frm-signInForm table {
  margin: auto;
}
#frm-registerForm table {
  margin: auto;
}
#frm-pictureForm table {
  margin: auto;
}

.sport-food {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sport {
  border: 2px solid #00aeff;
  background-color: #9adfff;
  text-align: left;
  padding: 5px;
}

.food {
  border: 2px solid #ff7300;
  background-color: #ffd000;
  text-align: left;
  padding: 5px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#energyChart {
  width: 100%;
  max-width: 700px;
  position: sticky;
  top: 25%
}

.avatar {
  width: 200px;
  image-rendering: pixelated;
}

.avatar-mini {
  width: 70px;
}

.alert-food {
  display: none;
}
.alert-sport {
  display: none;
}

.message-sport {
  border: 2px solid #00aeff;
  background-color: #9adfff;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 3px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.message-food {
  border: 2px solid #ff7300;
  background-color: #ffd000;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 3px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}